<%- include('blocks/header', {bot: bot, user: user, auth: auth}) %>
<% var borderedStats;
if (bot.config.dashboard.borderedStats === "true") {
	borderedStats = true;
 } else {
		borderedStats = false;
  } %>
  <html>
    <title>
      <%= bot.user.username %> - Stats
    </title>
  <div class="container">
    <div class="jumbotron">
      <h3 class="text-center">Stats</h3>
      <div class="container text-center">
      <div class="row justify-content-md-center <% if (borderedStats) { %> table-bordered <% } %>">
          <div class="col-6  align-middle"><i class="fa fa-fw fa-server" aria-hidden="true"></i> Guilds:</div>
          <div class="col-6  align-middle"><strong><%= bot.guilds.cache.size %></strong></div>
        </div>
       
				<div class="row justify-content-md-center <% if (borderedStats) { %> table-bordered <% } %>">
					<div class="col-6  align-middle"><i class="fa fa-fw fa-terminal" aria-hidden="true"></i> Commands:</div>
					<div class="col-6  align-middle"><strong>nil</strong></div>
				</div>
        <div class="row justify-content-md-center <% if (borderedStats) { %> table-bordered <% } %>">
          <div class="col-6  align-middle"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Members:</div>
          <div class="col-6  align-middle"><strong><%= bot.users.cache.size %></strong></div>
        </div>
        <div class="row justify-content-md-center <% if (borderedStats) { %> table-bordered <% } %>">
          <div class="col-6  align-middle"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> Memory:</div>
          <div class="col-6  align-middle"><strong><%= (process.memoryUsage().heapUsed / 1024 / 1024).toFixed(2) %>MB</strong></div>
        </div>
        <div class="row justify-content-md-center <% if (borderedStats) { %> table-bordered <% } %>">
          <div class="col-6  align-middle"><i class="fa fa-fw fa-hashtag" aria-hidden="true"></i> Text Channels:</div>
          <div class="col-6  align-middle"><strong><%= bot.channels.cache.filter(m => m.type === 'text').size %></strong></div>
        </div>
        <div class="row justify-content-md-center <% if (borderedStats) { %> table-bordered <% } %>">
          <div class="col-6  align-middle"><i class="fa fa-fw fa-microphone" aria-hidden="true"></i> Voice Channels:</div>
          <div class="col-6  align-middle"><strong><%= bot.channels.cache.filter(m => m.type === 'voice').size %></strong></div>
        </div>
				<h3 class="text-center">Versions</h3>
        <div class="row justify-content-md-center <% if (borderedStats) { %> table-bordered <% } %>">
          <div class="col-6  align-middle"><i class="fa fa-fw fa-cogs" aria-hidden="true"></i> Discord.js:</div>
          <div class="col-6  align-middle"><strong>14.17.3</strong></div>
        </div>
        <div class="row justify-content-md-center <% if (borderedStats) { %> table-bordered <% } %>">
          <div class="col-6  align-middle"><i class="fa fa-fw fa-cog" aria-hidden="true"></i> Node.js:</div>
          <div class="col-6  align-middle"><strong>20.17.0</strong></div>
        </div>
				<div class="row justify-content-md-center <% if (borderedStats) { %> table-bordered <% } %>">
					<div class="col-6  align-middle"><i class="fa fa-fw fa-cog" aria-hidden="true"></i> Bot:</div>
					<div class="col-6  align-middle"><strong>1.0.0</strong></div>
				</div>
      </div>
    </div>
    </div>
    <footer>
      <%- include('blocks/footer')%>  
</footer> 
  </html>
<style>
  .ft{
  width:100%
  }
</style>